@font-face {
    font-family: 'Bebas Neue';
    src: url(../font/BebasNeue-Regular.woff2) format('opentype');
}

/*Apresentação inicial*/

.container_top {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    padding-left: 55px;
    /*background-image: url("../images/cortina-bg-top-2.png");*/
}

.apre_ini {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

/*Parágrafo*/

.p_nome, 
.p_nome .netflix {
    font-size: 2em;
}
.netflix {
    color: #e50914;
    font-family: 'Bebas Neue';
}

/*Botões*/

.botoes {
    display: flex;
    margin-top: 5em;
}

.botoes a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(216, 216, 216);
    color: #141414;
    font-weight: 600;
    width: 150px;
    padding: 10px 0;
    margin-right: 5em;
    border-radius: 5px;
}

.botoes a:hover {
    background-color: #b3b3b3;
}

.botoes i {
    margin-right: 6px;
}

.botao_lin svg {
    width: 23px;
    height: 25px;
}
.botao_git svg {
    width: 25px;
    height: 25px;
}

/*Ilustração*/

.image_top {
    width: 40%;
    box-sizing: content-box;
    display: flex;
    align-items: center;
}

.image_top img {
    width: 85%;
    
}


/*Sobre mim*/

.sobre_mim {
    margin-top: 50px;
    height: 90vh;
}


::-webkit-scrollbar {
    height: 20px;
    width: 10px;
    background-color: #000000dc;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #e50914;
}

@media (max-width: 900px) {
    .container_top {
        padding-top: 4em;
    }

    .apre_ini {
        flex-basis: 50%;
    }

    .image_top {
        flex-basis: 50%;
        justify-content: center;
    }
    
    .image_top img {
        width: 80%;   
    }

    .p_nome,
    p .netflix {
        font-size: 1.7em;
    }

    .botoes a {
        padding: 10px 20px;
        margin-right: 30px;
    }


}

@media (max-width: 750px) {
    .container_top {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .apre_ini {
        display: block;
        width: 100%;
    }
    .image_top {
        display: none;
    }

    
}

@media (max-width: 550px) {
    .container_top {
        padding-left: 30px;
    }

}