.secao_cursos {
    padding:  30px 55px;
}

.container_curso {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.curso {
    flex-basis: 45%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.curso h4 {
    font-size: 1.3em;
    padding: 20px 0;
}

.curso p {
    text-align: justify;
    line-height: 1.3em;
}

.curso img {
    width: 100px;
    height: 100px;
}


@media (max-width: 900px) {
    .curso {
        flex-basis: 45%;
    }

}

@media (max-width: 750px) {
    .curso {
        flex-basis: 100%;
        padding: 20px 0;
    }
}

@media (max-width: 500px) {
    .secao_cursos {
        padding:  30px 30px;
    }

    .curso h4 {
        font-size: 1.2em;
    }

    .curso p {
        font-size: .9em;
    }

    .curso img {
        width: 80px;
    }
}