 .footer p {
    padding: 15px;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #e50914;
}

.footer a:hover {
    text-decoration: underline;
}


@media (max-width: 900px) {
    .footer p {
        padding: 10px 55px;
        font-size: 1em;
    }

}

@media (max-width: 550px) {
    .footer p {
        padding: 10px 30px;
        font-size: .85em;
    }
}