@font-face {
    font-family: 'Bebas Neue';
    src: url(../font/BebasNeue-Regular.woff2) format('opentype');
}

/*Apresentação inicial*/

.container_top {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /*background-image: url("../images/cortina-bg-top-2.png");*/
}

.apre_ini {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    padding-left: 55px;
}

.apre_ini,
.image_top {
    align-items: center;
}

.p_nome {
    font-size: 2em;
}

p .netflix {
    font-size: 2em;
}

.netflix {
    color: #e50914;
    font-family: 'Bebas Neue';
}

.p_nome,
.botoes {
    flex-basis: 100%;
}

.botoes a {
    text-decoration: none;
    background-color: rgb(216, 216, 216);
    color: #141414;
    font-weight: 600;
    padding: 15px 40px;
    margin-right: 50px;
    border-radius: 5px;
}

.botoes a:hover {
    background-color: #b3b3b3;
}

.botoes i {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.botao_lin svg {
    width: 23px;
    height: 23px;
}
.botao_git svg {
    width: 25px;
    height: 25px;
}

.image_top {
    flex-basis: 40%;
    box-sizing: content-box;
    display: flex;
}

.image_top img {
    width: 85%;
    
}


/*Sobre mim*/

.sobre_mim {
    margin-top: 50px;
    height: 90vh;
}


::-webkit-scrollbar {
    height: 20px;
    width: 10px;
    background-color: #000000dc;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #e50914;
}