
.secao_sobre_mim {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    height: 100vh;
}

.profile {
    box-sizing: border-box;
    flex-basis: 30%;
    text-align: center;
}

.image {
    margin-bottom: 50px;
}

.image img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.name_title, .tech_list {
    margin-bottom: 50px;
    
}

.tech_list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.list_itens {
    padding-right: 10px;
}

.list_itens svg {
    width: 35px;
    height: 35px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    flex-basis: 40%;
    text-align: justify;
}

.text h2 {
    margin-bottom: 40px;
}

.text p {
    line-height: 1.3em;
}

@media (max-width: 900px) {
    .secao_sobre_mim {
        padding-left: 55px;
        justify-content: space-between;
    }

    .image img {
        width: 150px;
        height: 150px;
        border-radius: 150px;
    }

    .profile, .text {
        flex-basis: 50%;
        padding-right: 55px;
    }

    .tech_list {
        margin-bottom: 0;
    }

    .text {
        margin-top: 20px;
    }

}

@media (max-width: 750px) {
    .secao_sobre_mim {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-top: 55px;
    }

    .profile, .text {
        flex-basis: 100%;
    }
    .text {
        margin-bottom: 55px;
    }
}

@media (max-width: 500px) {
    .secao_sobre_mim {
        padding-left: 30px;
    }

    .profile, .text {
        padding-right: 30px;
    }
    
    .text p {
        font-size: .9em;
    }
}